<%
  hidden = false unless local_assigns[:hidden]
  ingredient = nil unless local_assigns[:ingredient]
-%>
<tr <%= 'style="display:none;"'.html_safe if hidden %> >
  <td width="65%">
    <div class="scrollable-dropdown-menu">
      <input name="ingredients[][name]" type="text" class="form-control typeahead" placeholder="Name" value="<%= ingredient.ingredient.try(:name) if ingredient %>" />
    </div>
  </td>
  <td width="30%"><input name="ingredients[][amount]" type="text" class="form-control" placeholder="Count" value="<%= ingredient.amount if ingredient %>" /></td>
  <td width="5%"><%= link_to image_tag("/Images/Ingredients/trash.png"), '#', {tabindex: -1, onclick: 'return delete_table_row(this);'} %></td>
</tr>