<div class="row">
  <div class="col-md-8">
    <h1 class="my-nav-top">
      Recycle Bin
    </h1>
  </div>

  <div class="col-md-4">
    <h1 class="btn-right">
      <%= link_to 'Back', {action: 'index'}, {class: 'btn btn-default btn-lg no-print'} %>
    </h1>
  </div>
</div>


<% if @recipes.any? %>


  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <% @recipes.each do |recipe| %>
          <%= link_to  "#{  if recipe.category_id
                              recipe.name + ' ' + '<span class="label label-info category-label">' +
                                  Category.where(id: recipe.category_id).first.name + '</span>'
                            else
                              recipe.name + ' ' + '<span class="label label-warning category-label">No Category</span>'
                            end
                       }".html_safe, {id: recipe.id, action: 'show'}, {class: 'list-group-item'} %>

        <% end %>
      </ul>
    </div>
  </div>

<% else %>
  <div class="row">
    <div class="col-md-12">
      <%= image_tag('/Images/empty_bin.png', class: 'empty-bin', alt: 'Empty Bin') %>
    </div>
  </div>
<% end %>

<div class="row action-row">
  <%= link_to 'Back', {controller: 'home', action: 'index'}, {class: 'btn btn-default btn-lg no-print'} %>
</div>