<div class="row">
  <% @recipes.each do |recipe| %>
    <div class="col-md-4 portfolio-item">
      <%= link_to recipe.name, {id: recipe.id, action: 'show'}, {class: 'btn btn-default btn-lg btn-block'} %>
      <%= recipe.description %>
    </div>
  <% end %>
</div>