<% if @recipes.any? %>

  <div class="jumbotron">
    <h1>Hungry?</h1>
    <p class="lead">
      Choose a Recipe, print it and get out of here. Cook!
      Bon Appetit!
    </p>
    <%= link_to 'Show random Recipe', {action: 'show', id: 'random'}, {class: 'btn btn-lg jumbotron-button'} %>
    <%= link_to 'Add new Recipe', {action: 'new'}, {class: 'btn btn-lg jumbotron-button'} %>
  </div>


  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <% @recipes.order("name desc").each do |recipe| %>
          <%= link_to recipe.name, {id: recipe.id, action: 'show'}, {class: 'list-group-item'} %>
        <% end %>
      </ul>
    </div>
  </div>

<% else %>
  <%= render partial: 'no_recipes' %>
<% end %>