<h1>New recipe</h1>

<%= form_for @recipe, url: {action: 'create'} do |f| %>
  <%= render partial:  'form', locals: {f: f} %>

  <%= f.submit 'Create' %>
  <%= link_to 'Back', action: 'index' %>
<% end %>