<div class="row">
  <div class="col-md-12">
    <h1>
      Home
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <%= link_to 'Categories', 'categories/', class: 'list-group-item' %>
      <%= link_to 'Recipes', 'recipes/', class: 'list-group-item' %>
      <%= link_to 'Clucks', 'clucks/', class: 'list-group-item' %>
    </ul>
  </div>
</div>