/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require _bootstrap-sprockets
 *= require _bootstrap
 *= require_tree .
 *= require_self
 */


/* Логотип */
.chicken-logo {
    padding-right: 10px;
}

/* Кнопки Edit, Delete, Cancel в навигации по рецептам */
.btn-right {
    float: right
}


/* -------------------------------------------------- Bootstrap OVERRIDES */


.fixed {
    position: fixed;
    bottom: 0;

}

.panel-cluck {
    background-color: #a0a0a0;
}

/* Отступы от верхней и нижней краев страницы */
.page-content {
    margin-top: 90px;
    margin-bottom: 90px;
}

/* Общие настройки навигации */
.navbar {
    border: none;
    background-color: #fff;
    box-shadow: 0 12px 20px -8px rgb(192, 192, 192);
}

/* Настройки футера */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    box-shadow: 0 -12px 20px -8px rgb(192, 192, 192);
    margin-top: 20px;
}

/* Настройки контента в футере */
.footer-content {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #777;
}

/* Прямоугольные кнопки без обводки */
.btn {
    border: none;
    border-radius: 0;
}

/* Цвет кнопки отображается только при наведении курсором */
.btn-primary,
.btn-success,
.btn-danger,
.btn-warning {
    color: black;
    background-color: transparent;
}

/* Настройка панелей для Ingredients и Directions */
.panel {
    border: none;
    border-radius: 0;
}

/* Содержимое панели */
.panel-body {
    font-size: 16px;
}

/* Настройка Jumbotron */
.container > .jumbotron {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    background-image: url(/Images/jumbotron001.jpg);
    background-size: cover;
    border-radius: 0;
}

/* Кнопки в Jumbotron */
.jumbotron-button {
    color: white;
    background-color: #5cb85c;
    text-shadow: none;
}

/* Список рецептов на главной странице */
.list-group-item {
    font-size: xx-large;
    border: 0;
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
}